body{
    background-color: rgb(187, 245, 180);
    color: darkgreen;
    font-size: 70px;
    font-style: italic;
    font-weight: bolder;
}
h1{
    margin-top: 100px;
    text-align: center;
    color: #d73c04;
    font-size: 100px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bolder;
}
.grid-container
{
    display: grid;
    width:4000px;
    height:800px;
    margin: 10vh auto 10vh auto;
    grid-template-columns: auto auto auto auto;
  grid-template-areas:
    'Apples Apples Grapes Guava'
    'Apples Apples Grapes Guava'
    'Mango Oranges Oranges Guava'
    'Mango Oranges Oranges Guava';
  gap: 10px;
   border-width: 20px;
    padding: 10px;
}
.items {
   font-size:50px;
   padding-left: 20px;
   padding-top: 50px;
   padding-bottom: 0px;
   display: inline-flexbox;
   text-align: left;
}
.f1 
{
     grid-area: Apples;
     color:aliceblue;
    background-image: url(apple.jpeg); 
    background-size:cover; background-position: center;
    border-radius: 10%;
}
.f2
{
     grid-area: Grapes;
     color: aliceblue;
     background-image: url(grapes.jpeg); 
     background-position: center;
     background-size: cover;
     border-radius: 10%;
}

.f3
{ 
    grid-area: Guava;
    background-image: url(guava.jpeg);  background-position: center;
    background-size: cover;
    color: black;
    border-radius: 10%;
}

.f4 
{ 
    grid-area: Mango; 
    background-image: url(mango.jpeg);  background-position: center;
    background-size: cover;
    color: black;
    border-radius: 10%;
}

.f5 
{ 
    grid-area: Oranges;
    background-image: url(orange.jpeg);  background-position: center;
    background-size: cover;
    color: aliceblue;
    border-radius: 10%;
}